@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Permanent+Marker&display=swap');

.super{
 
    width: 80%;
}

.head{
    margin:4% 4%;
    width:100%;
    font-family: 'Dosis', sans-serif;
}
.order{
    border: 1px purple solid;
    width:90%;
    border-radius: 5px;
    padding: 2% 1%;
}