@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Permanent+Marker&display=swap');
.super{
 margin-top: 3%;
 margin-left: 4%;
    width: 70%;
}
.head{
    font-family: 'Dosis', sans-serif;
}