.image{
    width: 90%;
  height: auto;
  max-height: 50vh; /* Adjust as needed */
  display: block; /* Ensures image behaves as a block-level element */
  margin: 2% ; 

  margin-bottom: 4%;
}
.super{
    width: 80%;
 
}
.content{
    width: 90%;
    margin-left:2%;
   
 
}

.card{

    margin-bottom: 4%;
}